[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
autopep8 = "*"
jupyter = "*"
pytest = "*"
black = "*"
coverage = "*"
pytest-cov = "*"
pytest-xdist = "*"
pytest-sugar = "*"
pytest-check = "*"
pytest-clarity = "*"
faker = "*"
allure-pytest = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.8"
